<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MDDPlatform.APIClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProblemDomainManagement">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Problem Domains
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListLanguages">
                <span class="oi oi-list-rich" aria-hidden="true"></span>DSL Managements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListPatterns">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Transformation Patterns
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListPipeline">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Transformation Pipeline
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListProcess">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Process Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Seed">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
